@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');
/*==========mobile first==============*/
/*===========default==================
logo---shop name(header)-----------------
-------------nav(header)---------------
---------------(main)-----------------
---------new releases(article)-----------
-----------videos(article)--------------
--------------------------------
------------testimonials(article)--------
-------------email(form)--------------
-------------item------------
------------item-------------
-------------item(form end)------------
---------footer--------------
===================================*/
/*==================globals===================*/
*,*::before {
    box-sizing:border-box;

    margin:0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    color:var(--col-5);

}
body {
    background-color:var(--col-4);
}
main {
    background-image:url(https://raw.githubusercontent.com/MatchaCrisp/ProductLanding.github.io/main/res/img/bakery.jpg);
    background-size:2016px 560px;
    background-repeat:no-repeat;
    overflow:hidden;
}
footer::before {
    content:'';
    position:absolute;
    height:560px;
    width:100%;
    bottom:0px;
    left:0px;
    z-index:-1;
    background-image:url(https://raw.githubusercontent.com/MatchaCrisp/ProductLanding.github.io/main/res/img/bakery.jpg);
    transform:scaleY(-1);
    background-size:2016px 560px;
    background-repeat:no-repeat;
    overflow:hidden;
}
/*=====================================*/
/*=====================================*/
/*1 white, 2 main, 3 accent, 4 lightgray, 5 darkgray, 6 black*/
:root {
    --col-1:#FFFFFF;
    --col-2:#fffbef;
    --col-3:#f5efff;
    --col-4:#fbfaf9;
    --col-5:#555554;
    --col-6:#000000;
    --col-7:#ffefef;
    --col-8:#ffbebe;
    --col-9:#aca7b3;


}

.bgcol_main {
    background-color:var(--col-2);
}
.bgcol_light_acc {
    background-color:var(--col-8);
}
.bgcol_acc {
    background-color:var(--col-3);
}
.bgcol_dark_acc {
    background-color:var(--col-9);
}
.txtcol_main {
    color:var(--col-5);
}
.txtcol_acc {
    color:var(--col-3);
}
.txtcol_dark_acc {
    color:var(--col-9);
}
/*=====================================*/
/*=================header====================*/

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:10rem;
    z-index:10;


}
/*-------------banner---------------*/
#banner {
    position:absolute;
    z-index:-2;
    width:100%;
    height:10rem;
    overflow:hidden;

    top:0;
    left:0;

}

#header-img {
    filter:opacity(100%);

}

#shop_name {
    position:relative;
    top:0.5rem;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size:4rem;
    
}
/*---------------------------*/

/*-------------nav---------------*/
nav {
    position:relative;
    top:1rem;
    height:4rem;
    text-align:center;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
}

nav a {
    display:block;
    height:100%;
    text-decoration:none;
    color:var(--col-6);
    text-shadow: 2px 2px 2px #FFFF;


}
nav a:hover {
    color:var(--col-9);
}
nav a::before {
    content:'';
    position:absolute;
    top:0;
    z-index:-1;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--col-3);

    opacity:30%;
}
nav a:active {
    color:var(--col-8);
}
/*----------------------------*/
/*=====================================*/
/*===================new release==================*/
#new_release {
    position:relative;
    margin:12rem auto 0 auto;
    overflow:hidden;
    width:400px;
    height:370px;
}
#new_prod1 {
    position:absolute;

    animation-name:carousel;
    animation-duration:18s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:0;
    animation-timing-function: linear;
}
#new_prod2 {
    position:absolute;

    animation-name:carousel;
    animation-duration:18s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:-12s;
    animation-timing-function: linear;
}
#new_prod3 {
    position:absolute;

    animation-name:carousel;
    animation-duration:18s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:-6s;
    animation-timing-function: linear;
}
@keyframes carousel {
    0% {
        filter:brightness(100%) opacity(100%);
        top:5px;
        left:50px;
        z-index:2;
    }
    27% {
        filter:brightness(100%) opacity(100%);
        top:5px;
        left:50px;
        z-index:2;
    }
    33% {
        filter:brightness(50%) opacity(50%);
        top:15px;
        left:150px;
        z-index:1;
    }
    60% {
        filter:brightness(50%) opacity(50%);
        top:15px;
        left:150px;
        z-index:1;
    }
    66% {
        filter:brightness(50%) opacity(50%);
        top:15px;
        left:-50px;
        z-index:1;
    }

    94% {
        filter:brightness(50%) opacity(50%);
        top:15px;
        left:-50px;
        z-index:1;
    }
    100% {
        filter:brightness(100%) opacity(100%);
        top:5px;
        left:50px;
        z-index:2;
    }

}
/*=====================================*/

/*==================testimonials===================*/
#testimonials {
    margin-top:2rem;
}
#testimonials>p {
    text-align:center;

    font-size:1.5rem;
    font-weight:600;
    padding:1.5rem;
}
/*--------------video testimonials-----------------*/

.vid_test {
    margin: 0 auto;
    border:var(--col-5) 1px solid;
    border-radius:8px;
    padding:1.5rem;
    width:400px;
    height:300px;

}
#video {
    height:100%;
    width: 100%;
}
/*-------------------------------------------------*/
/*--------------text testimonials-----------------*/
#text_testimonials {
    margin:2rem auto 0 auto;
    position:relative;
    width:400px;
    height:250px;
}
.txt_test {
    position:absolute;
    top:0;
    left:0;
    width:400px;
    height:250px;
    border:var(--col-5) 1px solid;
    border-radius:8px;
    padding:1.5rem;
}
#txt_test1 {
    animation-name:fade_in_out;
    animation-duration:30s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:0;
    animation-timing-function: linear;
}
#txt_test2 {
    animation-name:fade_in_out;
    animation-duration:30s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:-20s;
    animation-timing-function: linear;
}
#txt_test3 {
    animation-name:fade_in_out;
    animation-duration:30s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-delay:-10s;
    animation-timing-function: linear;
}
@keyframes fade_in_out {
    0% {
        filter:brightness(100%) opacity(100%);
        z-index:2;
    }
    30% {
        filter:brightness(100%) opacity(100%);
        z-index:2;
    }
    33% {
        filter:brightness(40%) opacity(40%);
        z-index:1;
    }
    63% {
        filter:brightness(40%) opacity(40%);
        z-index:1;
    }
    66% {
        filter:brightness(40%) opacity(40%);
        z-index:1;
    }
    97% {
        filter:brightness(40%) opacity(40%);
        z-index:1;
    }
    100% {
        filter:brightness(100%) opacity(100%);
        z-index:2;
    }
}
.signature {
    position:absolute;
    bottom:2rem;
    right:2rem;
    font-size:1.5rem;
    color:var(--col-9);
}
.test_long {
    text-decoration:none;
    color:var(--col-9);
    font-size:0.8rem;
}
.test_long:hover {
    color:var(--col-3);
}
/*-------------------------------------------------*/
/*=====================================*/


/*==================order form===================*/
#order_form {
    margin-top:2rem;
}

#email {
    display:block;
    padding: 0.75rem 0.5rem 0.50rem 0.5rem;
    margin: 1rem auto;
    border:var(--col-5) 2px solid;
    border-radius:5px;
    font-size:1.25rem;
    color:var(--col-5);
    width:300px;
    background-color:var(--col-1);

}

.purchasables{
    position:relative;
    margin:1rem auto;
    cursor:pointer;
}

.purchasables:hover{
    bottom:0.25rem;
    right:0.25rem;
    box-shadow: 2px 2px 0.25rem var(--col-5);
}

.purchasables:active {
    bottom:0;
    right:0;
    box-shadow:none;
    background-color:var(--col-3);
}

#submit {
    display:block;
    padding:0.3rem 1rem;
    border:var(--col-5) 1px solid;
    margin: 1rem auto;
    background-color:var(--col-3);
    border-radius:1px;
    text-decoration:none;
    text-align:center;
    cursor:pointer;

}

#submit:hover {
    background-color:var(--col-2);
}
#submit:active {
    padding:0.15rem 0.85rem;
    margin:1.15rem auto;
}
/*=====================================*/


/*==================footer===================*/
footer {
    position:relative;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    background-color:var(--col-2);

    padding:0.5rem 0;
}

footer a {
    text-decoration:none;
    color:var(--col-5);
}

footer a:hover {
    color:var(--col-9);
}

/*=====================================*/

/*===================product==================*/
.product {

    width:300px;
    height:350px;
    border:var(--col-5) 1px solid;
    border-radius:8px;
    padding:15px;
    user-select: none;

}
.prodImg {
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    width:100%;
    height:auto;
}
.product figcaption {
    font-family: 'Dancing Script', cursive;
    padding-top:0.25rem;
    text-align:center;
    font-weight:600;
    font-size:2rem;
}

/*=====================================*/

/*=================media queries====================*/
@media only screen and (min-width:700px) {
    #shop_name {
        text-align:left;
        font-size:6rem;
        margin-left:1rem;
        display:block;
        height:114px;
    }
    #shop_name::after {
        position:relative;
        top:1rem;
        left:2rem;
        font-size:1.5rem;
        content:'Gourmet Handmade Cupcakes!';
        text-shadow:0 0 1px var(--col-4);
    }
    nav {
        display:flex;
        flex-flow:row nowrap;
        height:30px;
    }
    nav a {
        width:100%;
        height:100%;
        padding-top:4px;
    }


    #new_release {
        width:initial;
        height:initial;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
    }

    #new_prod1,#new_prod2,#new_prod3 {
        animation:none;
        position:relative;
        margin-top:1rem;
    }
    #purchase_items {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width:900px) {
    .vid_test {
        width:600px;
        height:450px;
        margin:1rem;
    }
    #test_flex_wrap {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        align-items:center;
    }
    #text_testimonials {
        margin:1rem;
    }
}

@media only screen and (min-width:1300px) {
    .vid_test {
        margin: 1rem auto;
    }
    #test_flex_wrap {
        display:block;
    }
    
    #text_testimonials {
        width:initial;
        height:initial;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
    }

    #txt_test1,#txt_test2,#txt_test3 {
        animation:none;
        position:relative;
        margin-top:1rem;
    }

}
/*=====================================*/








